<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Proyecto Videojuegos
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">

  <div class="header-container">
    <ion-icon name="game-controller" class="header-icon"></ion-icon>
    <h1 class="header-title">LISTA DE VIDEOJUEGOS</h1>
  </div>
  <div class="header-underline"></div>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="4" size-lg="2.4" *ngFor="let documentTarea of arrayColeccionVideojuegos">
        <ion-card>
          <ion-card-content>
            <ion-img [src]="documentTarea.data.imagen"></ion-img>
            <div class="card-data">
              <h2>{{documentTarea.data.titulo}}</h2>
              <p>{{documentTarea.data.descripcion}}</p>
              <p>{{documentTarea.data.nota}}</p>
              <ion-button color="primary" (click)="clicBotonModificar(documentTarea.id, documentTarea.data)">Editar</ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/detalle', 'new']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>